video,
canvas,
div#cover,
div#design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas#chart {
  width: 40% !important;
  height: 50% !important;
  margin: -15px 0;
  padding: 40px;
}

div#cover {
  background-color: #011826;
  opacity: 0.5;
}

div#design {
  background-image: url("./images/sideline.png");
  background-repeat: no-repeat;
  background-position: 15px 20px;
}
